<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#f9f9f9" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#444" media="(prefers-color-scheme: dark)">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="alternate" type="application/atom+xml" href="/feed.xml" title="Atom feed">
    {% seo %}
  </head>
  <body><div class="fulltext">{{ content }}</div></body>
</html>
